.modal-calc {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99998;
  opacity: 0;
  pointer-events: none;
}

.modal-calc:target {
  opacity: 1;
  pointer-events: auto;
}

.calc {
  z-index: 99999;
  position: fixed;
  padding: 20px;
  min-width: 500px;
  max-width: 760px;
  height: auto;
  background: white;
  top: 7%;
  left: 30%;
  border-radius: 10px;
  box-shadow: 0 -2px 3px grey, 0 1px 3px grey;
}
