@media (min-width: 576px) {
  .navbar-nav li:last-child {
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .navbar-nav li:last-child {
    margin-left: 0 !important;
  }
}

@media (min-width: 992px) {
  .navbar-nav li:last-child {
    margin-left: 20% !important;
  }
}

@media (min-width: 1200px) {
  .navbar-nav li:last-child {
    margin-left: 30% !important;
  }
}
