.modal {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;
  opacity: 0;
  pointer-events: none;
}

.modal__contacts {
  z-index: 7;
  position: fixed;
  padding: 20px;
  width: 760px;
  height: 700px;
  background: white;
  top: 7%;
  left: 30%;
  border-radius: 10px;
  box-shadow: 0 -2px 3px grey, 0 1px 3px grey;
}

.modal__contacts--map-tablet {
  display: none;
  z-index: 5;
  position: absolute;
  padding: 20px;
  width: 540px;
  height: 350px;
  background: white;
  top: 35%;
  left: 10%;
  border-radius: 10px;
  box-shadow: 0 -2px 3px grey, 0 1px 3px grey;
}

.modal__contacts--map {
  width: 760px;
  margin: 0;
  margin-top: 30px;
  box-shadow: 0 -1px 2px grey, 0 1px 2px grey;
}

.modal__contacts ul {
  list-style: none;
  padding-left: 60px;
  height: 70px;
}

.modal__contacts li {
  margin-top: 5px;
}

.modal__contacts a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 -1px 1px grey, 0 1px 1px grey;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.close {
  position: absolute;

  top: 5%;
  right: 5%;
  border: none !important;
  border-radius: none !important;
  text-transform: uppercase;
  width: 15px;
  height: 15px;
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle !important;
  box-shadow: none !important;
}

.close:hover {
  font-size: 2.4em;
  text-align: center;
  vertical-align: super;
}

@media (min-width:501px) and (max-width:960px) {
  .modal__contacts {
    z-index: 7;
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 700px;
    background: white;
    top: 10px;
    left: 4%;
    border-radius: 10px;
    box-shadow: 0 -2px 3px grey, 0 1px 3px grey;
  }
  .modal__contacts--map {
    display: none;
  }
  .modal__contacts--map-tablet {
    display: block;
  }
}
