@viewport {
    width: auto;
}

body {
    min-width: 1120px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: "Helvetica", sans-serif;
    color: #001D1D;
    background-color: white;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
  position: relative;
  margin-top: 20px;
  margin-bottom: 80px;
}

.page-header .logo {
  float: left;
  padding: 0 10px;
}

.main-nav {
    float: left;
    width: 750px;
    margin: 0;
    margin-top: 20px;
    margin-left: 40px;
    padding: 0;
    list-style: none;
}

.main-nav li {
    min-width: 70px;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
    border-radius: 5px;
}

.main-nav a:hover {
    background-color: #2D882D;
    color: white !important;
}

.main-nav a:active {
    color: white;
}

.main-nav a:visited {
    color: #226666;
}

.telephone {
    position: absolute;
    top: 20px;
    right: 20%;
    text-align: right;
    vertical-align: center;
    background: url("../img/phone.png") no-repeat left;
}

.telephone a {
    padding: 10px;
    padding-left: 30px;
    text-decoration: none;
    border: 2px solid #568B8B;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    color: #001D1D !important;
}

.telephone a:hover {
    background: #2D882D;
    opacity: 0.7;
    color: white !important;
    border: 2px solid #2D882D;
}

.img_wrap {
  float: right;
  width: 800px;
  height: 600px;
  overflow: hidden;

}

.img_wrap img {
  display: none;
  min-height: 200px;
  min-width: 300px;
}

.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.slider-feature {
    padding: 20px 0 20px 40px;
    width: 350px;
    background: #CCE2CC;
    border-radius: 10px;
}

.slider-list h2 {
    color: #034141;
    word-wrap: break-word;
}

.slider-list li {
    font-size: 0.7em;
    color: #226666;
    margin-bottom: 5px;

}

/*сюда галочки*/

.calculate a {
    display: inline-block;
    text-decoration: none;
    color: #B2C6C6;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    background: #034141;
}

.calculate a:hover {
    color: white;
    background:  #001D1D;
}
