body {
  min-height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  line-height: 22px;
  font-family: "Helvetica", sans-serif;
  color: #05010B;
  background-color: lightgray;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.fixator {
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  width: 100%;
  height: 50px;
  padding: 0;
  box-shadow: 0 2px 3px grey;
}

.header__logo {
  margin-left: 8rem;
}

.header__navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header__navigation--item {
  flex-basis: content;
}

.header__navigation--item:first-child {
  margin-left: 25%;
  margin-right: 12px;
}

.header__navigation a {
  padding: 15px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  color: black;
}

.header__navigation a:hover {
  color: white !important;
  background: #67B0BC;
  opacity: 0.7;
}

.header__navigation a:active {
  color: white;
}

.header__navigation a:visited {
  color: grey;
}

.header__phone {
  justify-content: flex-end;
  align-self: center;
  padding: 0;
  margin-left: auto;
  margin-right: 20%;
  background: url("../img/phone.png") no-repeat 5% 0;
  background-size: contain;
}

.header__phone a {
  padding: 15px;
  padding-right: 5px;
  padding-left: 35px;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  color: black !important;
  transition: background-color 0.5s ease-out;
  border-radius: 5px;
}

.header__phone a:hover {
  background: #67B0BC;
  opacity: 0.7;
  color: white !important;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  padding: 0;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  background: #67B0BC url("../img/lady.png") no-repeat;
  box-shadow: 0 -2px 3px grey, 0 1px 3px grey;
}

.features__message ul {
  padding: 0;
  margin: 0;
}

.features__message {
  user-select: none;
  padding: 20px 0 0 40px;
  width: 320px;
  height: 300px;
  background: white;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 40px;
}

.features__message:last-child {
  flex-grow: 0.3;
  background: none;
}

.features_message--list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__message h2 {
  color: #05010B;
}

.features__message--list li {
  font-size: 1.3em;
  list-style: none;
  color: #05010B;
  margin-bottom: 10px;
}

.features__message--list li::before {
  content: '\2713';
  display: inline-block;
  color: #5BB2BC;
  font-size: 25px;
  line-height: 20px;
  margin-right: 5px;
}

.gg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bang {
  text-transform: uppercase;
  color: red;
}

.features__message--btn a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  margin: 20px 18% 10px 6%;
  background: rgb(255, 245, 145);
  box-shadow: 0 -1px 3px grey, 0 1px 3px grey;
}

.features__message--btn a:hover {
  color: white;
  background: #FF9536;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.main__item {
  width: 250px;
  text-align: center;
  padding: 0;
  background: rgba(255, 245, 145, 0.8);
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 -2px 3px grey, 0 1px 1px grey;
  user-select: none;
  margin-bottom: 1000px;
}

.main__item h3 {
  padding: 10px 0 0 0;
  margin: 0;
  text-transform: uppercase;
}

.main__item p {
  padding: 10px;
  color: black;
  opacity: 0.8;
  font-size: 1.4em;
}

.main__item img {
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 -2px 3px grey, 0 1px 3px grey;
}

.footer__social {
  margin-right: 20%;
}

.footer__social a {
  margin-right: 10px;
  opacity: 0.6;
}

.footer__social a:hover {
  opacity: 1;
}

.footer__copyright {
  color: grey;
  padding: 0 5px 5px 5px;
  margin-right: 30%;
  margin-top: 5px;
  border: 1px dashed grey;
  border-radius: 5px;
  user-select: none;
}

.footer__copyright:hover {
-webkit-animation:rainbow 2s infinite;
-ms-animation:rainbow 2s infinite;
-o-animation:rainbow 2s infinite;
animation:rainbow 2s infinite;
}

@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

@media (max-width:500px) {
  .header {
    display: block;
    width: auto;
    padding: 0 10px;
  }

  .header__logo {
    display: none;
  }

  .header__navigation {
    display: none;
  }

  .header__phone {
    width: 80%;
    float: left;
    margin-left: 20%;
  }

  .features {
    display: block;
    height: auto;
    width: auto;
  }

  .features__message--btn {
    margin: 0 auto;
  }

}

@media (min-width:501px) and (max-width:960px) {
  .header__navigation--item:first-child {
    margin-left: 5%;
  }
  .features{
    background: #67B0BC url("../img/lady.png") no-repeat 60% 0;
  }
  .features__message {
    height: auto;
  }
}

@media only screen and (min-width : 961px) {
  .header__phone {
    margin-left: 10%;
  }
  .features{
    background: #67B0BC url("../img/lady.png") no-repeat 50% 0;
  }
}
