body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    line-height: 22px;
    font-family: "Helvetica", sans-serif;
    color: #001D1D;
    background-color: white;
}


.wrapper {
    width: 70%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background: lightgray;
    height: 50px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
}

.header__logo {
    margin-left: 15%;
    flex-basis: 100px;
    font-size: 20px;
}

.header__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header__navigation--item {
    flex-basis: content;
}

.header__navigation--item:first-child {
    margin-left: 20%;
}

.header__navigation a {
    padding: 15px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    border-radius: 5px;
}

.header__navigation a:hover {
    color: white !important;
}

.header__navigation a:active {
    color: white;
}

.header__navigation a:visited {
    color: #226666;
}

.header__phone {
    justify-content: flex-end;
    align-self: center;
    flex-basis: content;
    padding: 0;
    margin-left: auto;
    margin-right: 15%;
    background: url("../img/phone.png") no-repeat left;
}

.header__phone a {
    padding: 15px;
    padding-right: 5px;
    padding-left: 30px;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    color: #001D1D !important;
    transition: background-color 0.5s ease-out;
    border-radius: 5px;
}

.header__phone a:hover {
    background: #2D882D;
    opacity: 0.7;
    color: white !important;
}

.features {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: lightgray;
}

.features__message ul {
    padding: 0;
    margin: 0;
}

.features__message {
    padding: 20px 0 0 40px;
    width: 300px;
    min-height: 300px;
    background: white;
    border-radius: 10px;
}

.features_message--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features__message h2 {
    color: #034141;
}

.features__message--list li {
    font-size: 0.7em;
    list-style: none;
    color: #226666;
    margin-bottom: 10px;
}

/*сюда галочки*/

.features__message--btn a {
    display: inline-block;
    text-decoration: none;
    color: #B2C6C6;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    background: #034141;
}

.features__message--btn a:hover {
    color: white;
    background:  #001D1D;
}

@media (max-width:500px) {
    .header {
      display: block;
      width: auto;
      padding: 0 10px;
    }
    .header__logo {
      display: none;
    }
    .header__navigation {
      display: none;
    }
    .header__phone {
      width: 80%;
      float: left;
      margin-left: 20%;
    }
    .features {
      display: block;
      height: auto;
      width: auto;
    }

    .features__message--btn {
      margin: 0 auto;
    }
    .wrapper {
      width: 80%;
    }

}

@media (min-width:501px) and (max-width:960px) {
  .header__navigation--item:first-child {
    margin-left: 5%;
  }
  .features {
    display: flex;
}
